* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --first-color: #0081c9;
  --second-color: #f94a29;
  ---thirdcolor: #fce22a;
  --fourth-color: lightgrey;
}

#root {
  width: 100%;
}

.btn {
  background: var(--first-color);
  padding: 0.5rem 1rem;
  color: white;
  font-weight: bold;
  text-transform: uppercase;

  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}